layout {
    tab name="helix" focus=true {
        pane
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
    tab name="gitui" {
        pane
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
    tab name="fish" {
        pane
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
}
